/*Este é o arquivo de estilização do navbar*/

/*Efeito degradê horizontal no navbar com background-image: linear-gradient*/
nav {
    background: none;
    position: fixed;
    width: 80px;
    height: 100%;
    text-align: center;
    transition: 1s;
    background-color: black;
}
nav label {
    font-size: 20px;
    margin-top: 30px;
    display: none;
    color: white;
    text-align: center;
}
/*font-weight com valor "normal" para eliminar a pré-formatação negrita da tag label*/
nav label h1 {
    font-size: 13px;
    color: rgb(216, 216, 216);
    font-weight: normal;
    line-height: 13px;
}
nav ul {
    margin-top: 90px;
    text-decoration: none;
}
nav ul li{
    cursor: pointer;
}
/*O line-height é utilizado para centralizar verticalmente
font-weight com valor bold para deixar negrito*/
nav ul li h1{
    font-size: 15px;
    font-family: sans-serif;
    float: right;
    display: none;
    color: rgb(110, 110, 110);
    margin-right: 20px;
    margin-top: 20px;
    line-height: 22px;
    font-weight: bold;
}
/*Espaçamento entre as imagens do menu de opções*/
nav ul li img{
    margin-top: 20px;
    transition: .25s;
}
nav ul li h1{
    display: none;
}
/*Formatação para menu selecionado*/
.selected {
    border-bottom: 4px solid red;
}
#logo{
    margin-top: 80px;
}


/*-----------------------Lista de eventos do navbar----------------*/


nav:hover {
    width: 250px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.479));
    text-align: left;
}
nav:hover h1{
    display: block;
}
nav:hover ul li img{
    margin-left: 29px;
}
nav:hover label{
    display: block;
}
nav ul li:hover h1{
    color: white;
}
nav ul li:hover img{
    margin-left: 40px;
    transition: .25s;
}
nav:hover #logo{
    display: none;
}
nav ul li:hover h1{
    font-size: 18px;
    transition: .08s;
}
/*Usando o seletor de elementos irmãos, recuei o conteúdo da página
junto com o navbar*/
nav:hover ~ #principal{
    margin-left: 250px;
    transition: 1s;
}